/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.navbar-nav{
		background: #F6F6F6;
		text-align: center;
	}
	.right-nav .nav-item {
		margin-right: 0px;
		padding-bottom: 20px;
	}
	#banner {
		height: 100vh;
	}
	.banner-content {
		top: 50%;
		left: 50%;
		text-align: center;
	}
	.banner-content h2 {
		font-size: 20px;
		margin-bottom: 16px;
	}
	a.round-button {
		padding: 13px 20px;
		font-size: 10px;
	}
	.w-img {
		top: -210px;
	}
	#second-banner .second-banner-content {
		padding: 0px 0px;
	}
	#second-banner .second-banner-content h4 {
		font-size: 20px;
	}
	.feature-content {
		text-align: center;
	}
	.feature-content h2 {
		font-size: 30px;
		line-height: 38px;
	}
	.feature-content p {
		font-size: 15px;
	}
	.feature-52 span {
		font-size: 70px;
	}
	.feature-52 h3 {
		font-size: 15px;
	}
	.feature-img {
		width: 347px;
		background-position: center center;
	}
	.logo-slider {
		padding-left: 130px;
	}
	#intro-design {
		text-align: center;
	}
	.intro-design-inner-left {
		padding: 0px 0px;
	}
	.intro-left-content-inner {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	.intro-design-inner-left p {
		padding-left: 72px;
		font-size: 16px;
		padding-top: 22px;
	}
	.intro-design-inner-left h5 {
		margin-top: 12px;
	}
	.intro-design-inner-right h4 {
		font-size: 30px;
		line-height: 38px;
	}
	.intro-design-inner-right .round-button {
		margin-top: 20px;
	}
	#efficiency-to-happiness {
		padding: 0;
		margin-top: -100px;
		text-align: center;
	}
	.efficiency-left-content h2 {
		font-size: 32px;
		line-height: 40px;
	}
	.efficiency-left-content p {
		font-size: 15px;
		padding: 20px 0;
	}
	.efficiency-left-content a.round-button {
		margin-top: 30px;
	}
	.quote-item {
		margin-bottom: 20px;
	}
	.title {
		padding: 0;
	}
	.title h2 {
		font-size: 22px;
		line-height: 32px;
	}
	.title p {
		padding: 30px 0px;
	}
	.feedback-item {
		margin-bottom: 20px;
	}
	footer {
		text-align: center;
	}
	footer .faq .title {
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer-bottom-left li a {
		font-size: 13px;
	}
	.footer-bottom-right p {
		font-size: 13px;
		margin-top: 20px;
	}

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar-nav{
		background: #F6F6F6;
		text-align: center;
	}
	.right-nav .nav-item {
		margin-right: 0px;
		padding-bottom: 20px;
	}
	#banner {
		height: 80vh;
	}
	.banner-content {
		top: 50%;
		left: 50%;
	}
	.banner-content h2 {
		font-size: 45px;
	}
	a.round-button {
		padding: 15px 20px;
	}
	#second-banner .second-banner-content {
		padding: 0px 170px;
	}
	#second-banner .second-banner-content h4 {
		font-size: 20px;
	}
	
	.feature-content h2 {
		font-size: 30px;
		line-height: 38px;
	}
	.feature-content p {
		font-size: 15px;
	}
	.feature-52 span {
		font-size: 70px;
	}
	.feature-52 h3 {
		font-size: 16px;
	}
	.feature-img {
		width: 311px;
		background-position: center center;
	}
	.intro-design-inner-left {
		padding: 0px 0px;
	}
	.intro-left-content-inner {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	.intro-design-inner-left p {
		padding-left: 72px;
		font-size: 16px;
		padding-top: 22px;
	}
	.intro-design-inner-left h5 {
		margin-top: 12px;
	}
	.intro-design-inner-right h4 {
		font-size: 30px;
		line-height: 38px;
	}
	.intro-design-inner-right .round-button {
		margin-top: 20px;
	}
	.efficiency-left-content h2 {
		font-size: 32px;
		line-height: 40px;
	}
	.efficiency-left-content p {
		font-size: 15px;
		padding: 20px 0;
	}
	.efficiency-left-content a.round-button {
		margin-top: 30px;
	}
	.quote-item {
		margin-bottom: 20px;
	}
	.title h2 {
		font-size: 32px;
		line-height: 40px;
	}
	.title p {
		padding: 30px 0px;
	}
	footer .faq .title {
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer-bottom-left li a {
		font-size: 13px;
	}
	.footer-bottom-right p {
		font-size: 13px;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	a.round-button {
		padding: 15px 30px;
		letter-spacing: 4px;
	}
	.title h2 {
		font-size: 40px;
	}
	#banner {
		background-position: right center;
		height: 100vh;
	}
	.banner-content h2 {
		font-size: 50px;
	}
	#second-banner .second-banner-content h4 {
		font-size: 22px;
	}

	.feature-content h2 {
		font-size: 40px;
	}
	.feature-52 span {
		font-size: 120px;
	}
	.feature-52 h3 {
		font-size: 16px;
		font-weight: 700;
	}
	.feature-img {
		width: 420px;
		background-position: center center;
	}
	.intro-design-inner-left {
		padding: 36px 70px;
	}
	.intro-left-content-inner {
		padding-top: 108px;
	}
	.intro-design-inner-left p {
		padding-left: 45px;
		font-size: 18px;
	}
	.intro-design-inner-left h5 {
		padding-left: 45px;
	}
	.intro-design-inner-right h4 {
		font-size: 40px;
		line-height: 50px;
	}
	.title p {
		padding: 30px 30px;
	}
	.efficiency-left-content h2 {
		font-size: 40px;
	}
	.efficiency-left-content a.round-button {
		margin-top: 40px;
	}
	.footer-bottom-right p {
		font-size: 18px;
	}
}
/* // Only for ipad-pro or Ipad Landscape */

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}